body {
    margin: 0;
    overflow-x: hidden;
    background-image: url("nicky.jpg");
    background-repeat: no-repeat;
    color: white;
    font-family: "Quicksand", sans-serif;
    min-height: 100vh;
    max-height: 100vh;
}
#background {
    height: 667px;
    position: absolute;
}
.wrap {
    height: 230px;
}
.shadowWrapper {
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}
.mainTextWrapper {
    position: absolute;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    width: 50%;
    margin-top: 40px;
    margin-left: 25%;
    margin-right: 25%;
    height: 60px;
}
.mainContainer {
    width: 100vw;
    height: 667px;
}
.registerIntro {
    color: orange;
    text-align: center;
}

#networkName {
    margin: 0 auto;
    text-align: center;
}
.inputField {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.inputRegistration {
    margin-top: 7px;
    border-style: none;
    background: rgba(0, 0, 0, 0.4);
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border-bottom: 2px solid white;
    color: white;
}
button {
    font-family: "Quicksand", sans-serif;
    text-align: center;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}

.loggedInZucky {
    border: 1px solid white;
    border-radius: 10px;
    height: 6%;
    width: 6%;
}
.error {
    text-align: center;
    margin-bottom: 10px;
    color: yellow;
}
.loginLink {
    color: #a3b86c;
    text-decoration: none;
    text-align: center;
}
h1 {
    text-align: center;
}
::placeholder {
    color: white;
    font-family: "Quicksand", sans-serif;
}
.homepageSmallContainer {
    display:flex;
    flex-direction: column;
}
.homepageBigContainer {
    width:30%;
    margin-left:35%;
    margin-right:35%;
    height:30%;
}
.linkHomepage {
    color:white;
    text-decoration: none;

}
.linkContainerHomepage {
    border:2px solid white;
    border-radius:25px;
    text-align: center;
    margin:10px;
    background-color: black;
}
.homepageMain {
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.playerOne{
    height:45vh;
    background-color: red;
}
.playerTwo{
    height:45vh;
    background-color: green;
}
.midBar {
    background-color: gray;
    height:10vh;
    text-align: center;
}
.gameContainer {
    display:grid;
    text-align: center;
    height:100%;
    align-items: center;
}
.plus {
    background-color: blue;
    padding:10px;
    text-align: center;
    font-size:30px;    
    display:inline;
    border: 1px solid white;
    border-radius: 25%;
}
.minus {   
    background-color: black;
    padding:10px;
    text-align: center;
    font-size:30px;
    display:inline;
    border: 1px solid white;
    border-radius: 25%;
}
.lifeTotal{
    padding:10px;
    text-align: center;
    font-size: 50px;
    display:inline;
    border: 1px solid white;
    border-radius: 50%;
}
.reverse {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .modal {
      font-size:25px;
      width: 100vw;
      height:20vh;
      position:absolute;
      top:40vh;
      background-color:black;
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      text-align: center;
      align-items: center;
    }
  .decksContainer {
      display:flex;
      flex-direction:row;
      height:60vh;
      background-color: black;
  }
  .mainboardContainer {
      width:50%;
      height:100%;
      background-color: red;
  }
  .sideboardContainer {
    width:50%;
    height:100%;
    background-color: green;
}
.inputHolder {
    height:100px;
    width:50%;


    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.inputContainer {
    height:100px;
    display:flex;
    flex-direction: rows;
}
.pInDeck {
    margin:0;
    padding:10px;
}
.inputDeck {
    width:100px;
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    height:30px;
}
.headerDeck {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newCard {
    margin-left:10px;
    max-height:55px;
    max-width:150px;
    background-color: green;
}

.addCard {
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    margin:0;
    margin-left:15px;
    padding-bottom:5px;
    font-size: 25px;
    border:1px solid black;
    border-radius: 5px;
    width:30px;
    background-color: black;
}
.smallHolder {
    display:flex;
    flex-direction: rows;
    padding-left:10px;
}